---
date: Last Modified
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="MIT Student and Open Source Developer." />
    <meta
      name="og:description"
      content="MIT Student and Open Source Developer."
    />
    <title>Khaleel Al-Adhami's Personal Website</title>
    <meta property="og:image" content="/images/thumbnail.png" />
    <meta property="og:title" content="Khaleel Al-Adhami's Personal Website" />
    <meta property="og:site_name" content="adhami.me" />
    <meta name="twitter:card" content="summary_large_image" />
    <link href="/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon64.png" />
  </head>
  <body>
    <div class="intro">
      <div class="container name">
        <h1>Khaleel Al-Adhami</h1>
      </div>
      <section class="container">
        <p>
          I'm an open source developer passionate about computer science and
          software engineering. I graduated from MIT in May 2024. I currently
          work at <a href="https://reflex.dev/">Reflex</a> as a software
          engineer.
        </p>
        <p>
          You can reach out to me through
          <a rel="me" href="mailto:khaleel.aladhami@gmail.com">email</a>
          or
          <a rel="me" href="https://matrix.to/#/@khaleela:gnome.org/">Matrix</a
          >. I'm somewhat active on
          <a rel="me" href="https://fosstodon.org/@adhami">Mastodon</a>.
        </p>
        <p>
          I'm not currently looking for a job, but you can take a look at my
          <a href="/Khaleel Al-Adhami's Resume.pdf">resume</a> anyways.
        </p>
        <p>
          You can help support my projects on
          <a href="https://opencollective.com/beyond-expiry">OpenCollective</a>.
        </p>
      </section>
      <section class="container">{% age %}</section>
      <section class="container">{% sleepDisplay sleep %}</section>
    </div>
    <img src="/images/bitmap.svg" id="spill" />
    <section class="container">
      <h2>Projects</h2>
      <p>
        I typically use Rust to develop web platforms and desktop applications.
        I typically develop for the
        <a href="https://www.gnome.org/" target="_blank">GNOME</a>
        plaftorm, of which I'm a foundation member.
      </p>
      <p>
        I host most of my projects on my
        <a rel="me" href="https://gitlab.com/adhami3310">GitLab profile</a>
        and some on
        <a href="https://opencode-mit.gitlab.io" target="_blank">OpenCode</a>'s
        <a href="https://gitlab.com/opencode-mit" target="_blank"
          >GitLab organization</a
        >.
      </p>
    </section>
    <section class="container">
      <p>
        <b>Fuiz</b>
        — A web platform to host and play live quizzes. It is live on
        <a href="https://fuiz.org">fuiz.org</a>.
      </p>
      <div class="image-container">
        <img
          class="contained-image with-shadow"
          src="/images/fuiz_app.webp"
          alt="screenshot of fuiz displaying a sample question"
        />
      </div>
    </section>
    <section class="container">
      <p>
        <b>Impression</b>
        — A straight-forward and modern application to create bootable drives.
        It's available on
        <a
          href="https://flathub.org/apps/io.gitlab.adhami3310.Impression"
          target="_blank"
          >Flathub</a
        >.
      </p>
      <div class="image-container">
        <img
          class="contained-image"
          src="/images/impression_app.webp"
          alt="screenshot of impression's main screen"
        />
      </div>
    </section>
    <section class="container">
      <p>
        <b>Switcheroo</b>
        — A simple app to convert and manipulate images. It's available on
        <a
          href="https://flathub.org/apps/io.gitlab.adhami3310.Converter"
          target="_blank"
          >Flathub</a
        >.
      </p>
      <div class="image-container">
        <img
          class="contained-image"
          src="/images/converter_app.webp"
          alt="screenshot of switcheroo with multiple images selected"
        />
      </div>
    </section>
    <section class="container">
      <p>
        <b>Footage</b>
        — A useful tool for quickly editing short videos and screencasts. It's
        available on
        <a
          href="https://flathub.org/apps/io.gitlab.adhami3310.Footage"
          target="_blank"
          >Flathub</a
        >.
      </p>
      <div class="image-container">
        <img
          class="contained-image"
          src="/images/footage_app.webp"
          alt="screenshot of footage with a sample video selected"
        />
      </div>
    </section>
    <section class="container">
      <h2>Portfolio</h2>
    </section>
    <section class="container">
      <p>
        <b>Laundry Server</b>
        —
        <a href="https://laundry.mit.edu/" target="_blank">laundry.mit.edu</a>
      </p>
      <div class="image-container">
        <img
          class="contained-image with-shadow"
          src="/images/laundry_app.webp"
          alt="screenshot of laundry_website"
        />
      </div>
    </section>
    <section class="container">
      <p>
        <b>Random Hall</b>
        —
        <a href="https://random-hall.mit.edu/" target="_blank"
          >random-hall.mit.edu</a
        >
      </p>
      <div class="image-container">
        <img
          class="contained-image with-shadow"
          src="/images/randomhall_website.webp"
          alt="screenshot of random hall home page"
        />
      </div>
    </section>
    <section class="container">
      <p>
        <b>OpenCode</b>
        —
        <a href="https://opencode.mit.edu/" target="_blank">opencode.mit.edu</a>
      </p>
      <div class="image-container">
        <img
          class="contained-image with-shadow"
          src="/images/opencode_website.webp"
          alt="screenshot of opencode home page"
        />
      </div>
    </section>
    <section class="container">
      <p>
        <b>Video Gamers Alliance</b>
        —
        <a href="https://vga.mit.edu/" target="_blank">vga.mit.edu</a>
      </p>
      <div class="image-container">
        <img
          class="contained-image with-shadow"
          src="/images/VGA_website.webp"
          alt="screenshot of video gamers alliance home page"
        />
      </div>
    </section>
    <footer class="container">
      <p>
        🄯
        <a href="https://adhami.me/">Khaleel Al-Adhami</a>
        {% year %}
      </p>
    </footer>
  </body>
</html>
