:root {
  --background-color: #e8e8e8;
  --dark-background-color: hsl(339, 69%, 28%);
  --accent-color: 230, 73, 128;
}

html {
  background-color: var(--dark-background-color);
  color: #f0f0f0;

  font-family: "Atkinson Hyperlegible", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

html {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-size: 20px;
  line-height: 1.6;
}

body {
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 5px 20px;
  box-sizing: border-box;
  max-width: 40rem;
  margin: auto;
}

.name {
  text-align: center;
}

.intro {
  color: var(--dark-background-color);
  background-color: #e8e8e8;
}

#spill {
  width: 100%;
  max-height: 5em;
}

a {
  color: inherit;
  text-decoration: none;

  --normal: rgba(var(--accent-color), 45%);
  --highlighted: rgba(var(--accent-color), 60%);

  background: var(--normal);
  outline: 2px solid var(--normal);
  padding: 0 4px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
  --duration: 100ms;
  transition: background var(--duration) linear, outline var(--duration) linear;
}

a:is(:hover, :focus) {
  background: var(--highlighted);
  outline: 4px solid var(--highlighted);
}

a:focus {
  box-shadow: 0px 0px 0px 2px var(--highlighted);
}

h1 {
  margin: 20px 0 10px;
}

h2 {
  margin: 10px 0 5px;
}

p {
  margin: 8px 0;
}

.image-container {
  text-align: center;
  margin: 10px 0;
}

.contained-image {
  text-align: center;
  margin: -10px;
  max-width: 80%;
  max-height: 400px;
}

.contained-image.with-shadow {
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 3px transparent, 0 2px 8px 2px rgba(0, 0, 0, 0.13),
    0 3px 20px 10px rgba(0, 0, 0, 0.09), 0 6px 32px 16px rgba(0, 0, 0, 0.04),
    0 0 0 1px rgba(0, 0, 0, 0.05);
}

.navigation {
  display: inline-flex;
  align-items: baseline;
}

footer.container {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  width: fit-content;
  border-top: rgba(var(--accent-color), 52%) solid 2px;
}

#sleep-container {
  display: flex;
  gap: 0.25em;
  justify-content: space-around;
}

.day {
  height: 10em;
  width: 1em;
  background: #00000020;
  border-radius: 5em;
  position: relative;
}

.session {
  background-color: #791639;
  position: absolute;
  width: 100%;
  border-radius: 5em;
}

.midnight {
  background-color: #9e4a4a;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5em;
  top: calc(7 / 24 * 100%);
  z-index: 1;
}

.midnight-key {
  color: #9e4a4a;
}

#time-span {
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: center;
}

.dash {
  flex: 1;
  height: 1px;
  background: #00000020;
}

#age {
  display: flex;
  align-items: baseline;
  font-family: monospace;
  font-weight: bold;

  #year {
    font-size: 3em;
    line-height: 1em;
  }

  #remainder {
    font-size: 2em;
  }
}